@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $webpage__font-family, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  min-height: 100%;
  scroll-behavior: smooth;
  transition: 0.3s;
}

body {
  color: $dark-color;
  background-color: $static-white;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}